.counter-container{
    position: absolute;
    bottom:0;
    right:0;
    background-color: #f53eaa;
    max-width:fit-content;
}

#button{
    background-color: rgb(88, 175, 140);
    padding: 20px;
    border-radius: 50%;
}

